@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@400..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oxanium:wght@200..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Signika+Negative:wght@300..700&family=Sora:wght@100..800&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

.vContainer{
    width: 70%;
    margin: 10px auto;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    font-family: "Urbanist", serif;
}

.vakaContainer{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-family: "Urbanist", serif;
    background-color: #fff;
    padding: 20px;
    flex-wrap: wrap;
}

.image {
    width: 50%;
    max-height: 400px;
    
    display: flex;
    object-fit: none;
    aspect-ratio: 3/2;
    
}
.image img{
    width: 100%;
    object-fit: cover;
}
@media (max-width: 768px){
    .vContainer{
        width: 100%;
        margin: 10px auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-family: "Urbanist", serif;
    }
    .vakaContainer{
        width: 90%;
        padding:  0;
        
    }
}
@media (max-width: 1024px){
    .vContainer{
        width: 100%;
        margin: 10px auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-family: "Urbanist", serif;
    }
    .vakaContainer{
        width: 90%;
        padding:  0;
        
    }
}
