@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oxanium:wght@200..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Signika+Negative:wght@300..700&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');



.container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    
    
    margin: 10px;

    width: 400px;
    height: 400px;
    
    background-color: #fff;

    font-weight: 500;
    font-family: "Roboto", sans-serif;
    /* Başlangıç durumunda animasyon uygulanmasın */
  transform: translateZ(0);
  box-shadow: 0 0 0 rgba(0, 0, 0, 0);

  /* Geçiş animasyonu için tanımlama */
  transition: transform 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940), 
              box-shadow 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940);
}
.container:hover {
    transform: translateZ(100px);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.35);
  }
.container h1{
    margin: 23px ;
    color: brown;
}
.container p{
    margin: 23px;
    color: black;
    font-size: 18px;
}

/* ----------------------------------------------
 * Generated by Animista on 2024-12-2 16:52:13
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation shadow-drop-2-center
 * ----------------------------------------
 */
 

  
