@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@400..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oxanium:wght@200..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Signika+Negative:wght@300..700&family=Sora:wght@100..800&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');


.flip-card {
  background-color: transparent; 
  width: 380px;
  height: 380px;
  border: none;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
  cursor: pointer;
  margin: 10px;
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card.flipped .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: #bbb;
  color: black;
}

/* Style the back side */
.flip-card-back {
  background-color: #ECECEC;
  color: black;
  transform: rotateY(180deg);
  font-family: "Urbanist", serif;
  display: flex;
  flex-direction: column;
  text-align: left;
  border: 1px solid gray;
  border-spacing: 1ch;
}
.flip-card-back > h1{
  margin-left: 25px;
  
}
.flip-card-back > p{
  margin-left: 25px;
  font-size: 1.2em;
}
.flip-card-front > img{
  width: 380px;
  height: 380px;
}
.accordion-container {
  width: 90%;
  max-width: 800px;
  margin: 20px auto;
  font-family: Arial, sans-serif;
}

.accordion-item {
  background-color: #f5f5f5;
  margin-bottom: 10px;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.accordion-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  cursor: pointer;
  background-color: #d40000;
  color: #fff;
  font-size: 1.1rem;
  transition: max-height 0.5s ease, padding 0.3s ease; /* Geçiş animasyonu */
  
}

.accordion-header h3 {
  margin: 0;
  font-size: 1em;
}

.toggle-btn {
  background: none;
  border: none;
  font-size: 1.5rem;
  color: #fff;
  cursor: pointer;
}

.accordion-content {
  background-color: #ffffff;
  padding: 15px 20px;
  color: #333;
  font-size: 0.95rem;
  line-height: 1.6;
}

.accordion-content p {
  margin: 0;
}

@media (min-width: 480px) {
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
}
@media (max-width: 480px) {
  .flip-card {
    
    width: 300px;
    height: 150px;
    
  }
  .flip-card-front > img{
    width: 300px;
    height: 150px;
  }
  .flip-card-back > h1{
    margin-left: 15px;

    font-size: 1.3em;
  }
  .flip-card-back > p{
    margin-left: 15px;
    font-size: 1em;
  }
  .flip-card-back {
    align-items: center;
  }
}