@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oxanium:wght@200..800&family=Signika+Negative:wght@300..700&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@400..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oxanium:wght@200..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Signika+Negative:wght@300..700&family=Sora:wght@100..800&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

body{
    background-color: #fff;    
}

.anaResim {
    position: relative;
    margin: 0 auto;
    top: 0;
    left: 0;
}
.anaResim img{
    width: 100%; 
    left: 0;
    top: 0;
}
.first{
    position: absolute;
    display: flex;
    width: 70%;
    padding: 40px 0 ;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    top: 50%; /* Yüksekliğin ortasına getir */
    left: 50%; /* Genişliğin ortasına getir */
    transform: translate(-50%, -50%); /* Yatay ve dikeyde tam ortala */
    backdrop-filter: blur(3px); /* Bulanıklık miktarı */
    -webkit-backdrop-filter: blur(1px); /* Safari desteği için */

    border-radius: 10px; /* Kenarları yuvarlatma (isteğe bağlı) */
    
}
.first > h1,
.first > p {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  width: 100%;
  font-family: "Sora", sans-serif;
  overflow: hidden;
}
.first > h1{
    color: white;
    
    font-size: 4em;
    font-weight: 700;
}

.first > p{
    color: #fff;
    font-size: 1.3em;
    margin-top: 20px;
    text-align: center;
    width: 100%;
}

.ilacKutu{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    top: 0%;
    left: 0%;
    transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
    
}
.ilacKutu img{
    width: 40%;
    
}
.visible{
    opacity: 1;
    transform: translateY(0);
    
}
.hidden{
    opacity: 0;
    transform: translateY(-100%);
}





.section1{
    width: 100%;
    height: auto;
    background-color: #fff;
    font-family: "Urbanist", serif;
    display: flex;
    position: relative;
}
.sectionBox{
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin: 0 auto;
    
}
.sectionDescription{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 70px;
    width: 50%;
    padding-left: 20px;
   
}
.sectionDescription h1{
    color: #d40000;
}
.num strong{
    font-weight: 900;
    color: #d40000;
}
.num {
    font-weight: 700;
    font-size: 1.1em;
    color: #525252;
}

.sectionImage {
    width: 50%; 
    padding: 40px 20px 40px 20px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.sectionImage img{
    width: 500px;
    height: 600px;
    
}



.cards-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 90%;
    justify-content: space-evenly;
    margin: 0 auto;
    padding: 50px 0 0 0;
}
.cards-container1{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 90%;
    justify-content: space-evenly;
    margin: 0 auto;
    padding: 0 0 50px 0;
}
.animasyonVideo{
    text-align: center;
    margin-top: 20px;
}
.animasyonVideo > h1{
    font-family: "Urbanist", serif;
    padding: 10px;
    background-color: #d40000;
    color: #fff;
}
.hakkinda{
    text-align: center;
    font-family: "Urbanist", serif;
    padding: 10px;
    background-color: #d40000;
    color: #fff;
}
.duyurular{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
    justify-content: center;
}
.duyurular > h1{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Urbanist", serif;
   
    background-color: #d40000;
    color: #fff;
}
@media (max-width: 1440px) {
    
    .first{
        font-size: 0.7em;
        
        width: 80%;
        padding: 0 ;
        
    }
    .sectionBox{
        width: 90%;
        flex-direction: row;
        
    }
    
    .sectionDescription{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        margin-top: 1px;
        width: 70%;
        padding: 0;
        
       
    }
    .sectionDescription > p,
    .sectionDescription > h1{
        margin-left: 10px;
        
       
    }
    .sectionImage {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40%; 
       
        padding: 0;
        margin: 10px auto;
        
    }
    .sectionImage img{
        width: 100%;
        max-height: 300px;
        
    }
}


@media (max-width: 768px) {
    
    .first{
        font-size: 0.3em;
        
        width: 80%;
        padding: 0 ;
        
    }
    .sectionBox{
        width: 100%;
        flex-direction: column;
        
    }
    
    .sectionDescription{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        margin-top: 1px;
        width: 100%;
        padding: 0;
        
       
    }
    .sectionDescription > p,
    .sectionDescription > h1{
        margin-left: 10px;
        
       
    }
    .sectionImage {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 90%; 
       
        padding: 0;
        margin: 10px auto;
        
    }
    .sectionImage img{
        width: 100%;
        height: 200px;
        
    }
}

@media (max-width: 480px) {
    
    .first{
        font-size: 0.3em;
        
        width: 80%;
        padding: 0 ;
        
    }
    .sectionBox{
        width: 100%;
        flex-direction: column;
        
    }
    
    .sectionDescription{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        margin-top: 1px;
        width: 100%;
        padding: 0;
        
       
    }
    .sectionDescription > p,
    .sectionDescription > h1{
        margin-left: 10px;
        
       
    }
    .sectionImage {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 90%; 
       
        padding: 0;
        margin: 10px auto;
        
    }
    .sectionImage img{
        width: 100%;
        height: 200px;
        
    }
}
