.slider-container{
  width: 100vh;
  box-sizing: border-box;
  
  z-index: 1000;
}
.slider-container img{
  width: 99%;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  object-fit: cover;
}
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oxanium:wght@200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oxanium:wght@200..800&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');


.cardContainer4{
    width: 100%;
    display: flex;
    flex-direction: column;
    
    justify-content: space-between;
    margin: 10px;
    color: #fff;
    background-color: #333;
    font-family: "Urbanist", sans-serif;
   
}
/* .cardContainer button{
    width: 30%;
    margin: 10px;
    padding: 10px 0px 10px 0px;
    border: none;
    background-color: blue;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
    font-family: "Oxanium", sans-serif;
    font-size: 12px;
}
.cardContainer button:hover{
    background-color: blueviolet;
    transition: 0.5s;
} */

.slider-container.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 0;
   
}
.cardTitle {
    letter-spacing: 0.001cm;
    font-size: 18px;
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.cardT{
    letter-spacing: 0.001cm;
    font-size: 18px;
    
}
.price{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 5px;
    font-size: 18px;
    flex-wrap: nowrap;
    width: 30%;
}
.cardDescription4 {
    width: 100%;
    flex-wrap: wrap;
}

